body{margin:0px; overflow:hidden}

#myVideo {
  width:100vw;
  height:100vh;
  object-fit:cover
}

.container { position:relative; }

.header {
  padding: 60px;
  text-align: left;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.overlay1 {
    border: 7px solid white;
    border-radius:3px;
    background:rgba(100,100, 230, 0.4);
    padding-left: 50px;
    padding-right: 50px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -66%);
    z-index:1;
}
