body{
  background-image: url('https://media4.giphy.com/media/rnkaRKSndCh3JR7wcz/giphy.gif');
    background-size: cover;
    
    
    
    height: 100vh;
  margin:0px; overflow:hidden}

#myVideo {
  width:100vw;
  height:100vh;
  object-fit:cover;
}

.container { position:relative; transform: translate(0, -80px); z-index:-1; }


.header {
  padding: 20px;
  line-height: 0px;
  text-align: left;
  background: rgba(100,100, 230, 0.3);
  color: white;
  font-size: 15px;
  font-family:verdana light;
}

.overlay1 {
    /* border: 7px solid white;
    border-radius:3px;
    background:rgba(100,100, 230, 0.4);
    padding-left: 50px;
    padding-right: 50px; */
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, 190%);
    z-index:1;
}
